<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <main class="container mt-5">
        <section class="card mx-auto" style="max-width: 500px;">
            <div class="card-header">
                <h1>marhaba</h1>
            </div>
            <div class="card-body">
                <form method="POST">
                    <h2 class="text-center">Sign Up</h2>
                    <p class="text-center mb-4">Enter your credentials to access your account</p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label class="form-label">Last name</label>
                            <input type="text" name="nom" class="form-control" placeholder="Enter your last name">
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label class="form-label">first name</label>
                            <input type="text" name="prenom" class="form-control" placeholder="Enter your first name">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" placeholder="exampl@gmail.com">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Enter your password">
                    </div>
                    <div class="">
                        <label class="form-label">Confirmer Password</label>
                        <input type="password" name="config" class="form-control" placeholder="Confirmer your password">
                    </div>
                    <div class="mt-4">
                        <input type="submit" value="Sign up" name="submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <p>Have already an account?<a href="http://localhost:3000/login"> Login here</a></p>
            </div>
        </section>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

</html>